body
{
    background-color: beige;
}


.flex-container1
{
    border: 1px solid black;
    background: #ccc;
    height: 40px;
    padding: 10px;
}

.seccion1
{
    border: 1px solid black;
    background: grey;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-flow: row wrap;
    width: 95%;
    height: 30px;
    margin: 0 auto;
}

.navcss
{    
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.spancss
{
    border: 1px solid rgb(70, 69, 69);
    background-color: orange;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px #5C5C5C;
}


.spancssaux
{
    padding-left: 800px;
}

.spanderecha
{
    border: 1px solid rgb(70, 69, 69);
    background-color: rgb(104, 16, 206);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px #5C5C5C;
}

.maincss
{
    border: 1px solid black;
    background: grey;
    padding: 10px;
    height: 500px;
    text-align:center
}
.colorrosa
{
    background: rosybrown;
    width: 100%;
}
.seccionizquierda
{
    float: left;
    background-color: rosybrown;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
.seccionderecha
{
    float: right;
    background:red;
    display: flex;
    flex-direction: column;
}
.divclass
{
    width: 60px;
    height: 60px;
    background-color: sienna;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px #5C5C5C;
}

.divclassde
{
    width: 60px;
    height: 60px;
    background-color: rgb(62, 248, 6);
    margin: 5px;
    box-shadow: 2px 2px 2px 2px #5C5C5C;
}

.otrasec
{
    background: rosybrown;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.secimagenes
{
    background-color: teal;
    width: 90%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.imgclass
{
    width: 60px;
    height: 60px;
}

.footerclass
{
    border: 1px solid rgb(218, 74, 134);
    background-color: crimson;
    height: 60px;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}